fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
numpy
joblib
scikit-learn==1.7.1
lightgbm
pydispatcher
pydantic
python-multipart
asyncpg
websockets
paho-mqtt
openpyxl
python-dotenv
xgboost
statsmodels
prophet
tensorflow-cpu
plotly
tensorflow>=2.15.0
h5py
shap
